html {
	background-image: url('./img/background.png');
	background-repeat: repeat;
	background-size: cover;
}

body {
	padding: 0;
	margin: 100px;
	text-align: center;
}

table {
	margin: 0 auto;
	font-size: 40px;
}

td {
	height: 100px;
	width: 100px;
	cursor: pointer;
	background-color: rgb(201,160,122);

	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}

h1 {
	text-shadow: 2px 2px #555;
}

.message-green {
	color: #0c0;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #050;
}

.message-red {
	color: #c00;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #500;
}

.message-blue {
	color: #00c;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #005;
}


.button_reset
{
    margin: 10px;
    padding:15px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #fa765f;
    border:none;
    cursor: pointer;
}
.button_reset:focus{
    background-color: #c00;
    transition: 1s ease;
}
.board__item{
    position: relative;
}
.board__item:hover{
    background: #fafafa;
    transform: background 0.8s ease-in-out;
}
.board__item--filled-X::before{
    position: absolute;
    content: '';
    height:5px;
    width: 100%;
    top:50%;
    left:0;
    transform: translateY(-50%) rotate(-45deg);
    background-color:yellow;
}
.board__item--filled-X::after{
    position: absolute;
    content: '';
    height:5px;
    width: 100%;
    top:50%;
    left:0;
    transform: translateY(-50%) rotate(45deg);
    background-color:yellow;
}
.board__item--filled-O:before
{
    width: 80%;
    height: 80%;
    position: absolute;
    content: '';
   
   
    top:50%;
    left:50%;
    border:5px solid lightgreen;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}



